.homepage {
  background-color: var(--lightblue);
  padding: 114px 144px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 95px;
}

.homepage-title {
  font-size: 64px;
  text-align: center;
  max-width: 952px;
}
