.hamburger-menu {
  position: relative;
  margin-right: 10px;
}

.hamburger-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-component: space-around;
  height: 24px;
  width: 30px;
  padding: 0;
}

.hamburger-button .bar {
  width: 100%;
  height: 3px;
  background-color: #333;
  margin: 2px 0;
  transition: all 0.3s ease;
}

.menu-component {
  position: absolute;
  top: 35px;
  right: 20px;
  border: 1px solid black;
  background: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
}

.menu-component p {
  margin: 5px 0 0 0;
}

.menu-item {
  padding: 5px 0;
  display: flex;
  justify-content: center;
}

.menu-divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 5px 0;
}
