.my-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.my-modal-content {
  position: relative;
  width: 90%;
  margin: 5% auto 0;
  background: #ffffff;
  padding: 16px;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-content-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-image {
  max-width: 100%;
  height: auto;
}

.modal-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.title {
  text-align: left;
  font: normal normal bold 30px/36px Arial;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #000;
}

.duration {
  text-align: left;
  font: normal normal normal 20px/24px Arial;
  margin-bottom: 10px;
  color: #000;
}

.rating {
  text-align: left;
  font: normal normal normal 18px/22px Arial;
  color: #000;
}

.rating-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.description {
  text-align: left;
  font: normal normal normal 16px/20px Georgia;
  margin-bottom: 15px;
  max-height: 96px;
  overflow-y: auto;
  color: #000;
}

.modal-star-icon {
  width: 23px;
}

@media (max-width: 376px) {
  .my-modal-content {
    width: 70%;
    padding: 12px 24px;
  }

  .title {
    font: normal normal bold 19.2px/24px Arial;
    margin-bottom: 4px;
  }

  .duration,
  .rating {
    font: normal normal normal 12.8px/16px Arial;
    margin-bottom: 4px;
  }

  .description {
    font: normal normal normal 11.2px/16px Georgia;
    max-height: 60px;
  }
}

@media (min-width: 768px) {
  .modal-content-container {
    flex-direction: row;
    gap: 48px;
  }

  .modal-image {
    flex: 1;
  }

  .my-modal-content {
    max-width: 90%;
    padding: 24px 60px;
  }

  .description {
    max-height: 246px;
  }

  .title {
    margin-bottom: 25px;
  }

  .rating-container,
  .duration {
    margin-bottom: 12px;
  }
}

@media (min-width: 1200px) {
  .my-modal-content {
    max-width: 80%;
    padding: 24px 80px;
  }

  .modal-content-container {
    gap: 72px;
  }

  .modal-image {
    flex: 0 0 35%;
    max-width: 35%;
  }

  .title {
    font: normal normal bold 45px/54px Arial;
  }

  .duration,
  .rating {
    font: normal normal normal 26px/31px Arial;
  }

  .description {
    font: normal normal normal 30px/36px Georgia;
  }

  .modal-star-icon {
    width: 35px;
  }

  .rating-container {
    margin-bottom: 40px;
  }
}
