.recommended-button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: 16px; 
  color: inherit;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.recommended-button:hover {
  color: var(--lightblue);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .recommended-button {
    font-size: 14.4px;
  }
}

@media (min-width: 1024px) {
  .recommended-button {
    font-size: 17.6px;
  }
}
