.layout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.layout-footer {
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 62px;
  gap: 20px;
}

.contact-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.contact-us {
  font: normal normal normal 33px/37px Georgia;
  color: var(--white);
}

.contact-info {
  font: normal normal normal 16px/21px Georgia;
  color: var(--white);
}

.social-media-icons-wrapper {
  display: flex;
  gap: 36px;
}

.social-media-icon {
  cursor: pointer;
}

.fav-icon {
  height: 40px;
}

.search-input {
  height: 60%;
}
