.primary-button {
  display: flex;
  border-radius: 50px;
  outline: none;
  border: none;
  max-width: 260px;
  background-color: transparent;
  border: 1px solid var(--black);
  padding: 12px;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-text {
  font-family: Arial;
  font-size: 16px;
}

.primary-button:hover {
  background-color: #217997;
}

.primary-button.close {
  flex-direction: row-reverse;
}

.primary-button.close img {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .primary-button {
    max-width: none;
  }
}
